@tailwind utilities;
@import "tailwindcss/preflight";
@import "tailwindcss";

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f4dc;
  color: #1b1d21;
  font-family: 'League Spartan Variable';
  position: relative;
}

body {
  margin: 0;
}